@inject IMainPageLocalization localization
@inject CMSDatabase db
@{
    User user = Context.Items["User"] as User;
    Layout = "CommonPage";
    Context.Items["PageName"] = localization.PageName;
    Context.Items["PageStyle"] = "/styles/admin_panel/main_page.css";
    int numOfVisitors = db.Visitors.Count();
}
<p>@Html.Raw($"{localization.Welcome} <b>{user.Login}</b>")</p>
            <p>@Html.Raw($"{localization.SiteVisitsToday}: <b>{numOfVisitors.ToString()}</b>")</p>
            @if (numOfVisitors > 0 && SecurityFunctions.HasAccessTo(AdminPanelPages.GetVisitors, user, Context))
            {
            <form id="get-visitors">
                <input type="hidden" name="pageID" value="@((int)AdminPanelPages.GetVisitors)">
                <input type="submit" id="get-visitors-button" value="@Html.Raw(localization.GetVisitorList)">
            </form>
            <script>
                function responseHandler(request) {
                    if (request.responseText != '') {
                        let getVisitorsForm = document.getElementById('get-visitors');
                        getVisitorsForm.insertAdjacentHTML('afterend', request.responseText);
                        getVisitorsForm.style.display = 'none';
                    }
                }
                document.getElementById('get-visitors-button').addEventListener('click', createSendDataEventHandler('GET', 'get-visitors', responseHandler));
            </script>
            <div class="visitor-info-container" id="visitor-info-container">
                <div id="visitor-info"></div>
            </div>
            <script>
                function visitorActionsResponseHandler(request) {
                    if (request.responseText != '') {
                        visitorInfoContainer.classList.toggle('show');;
                        visitorInfo.insertAdjacentHTML('afterbegin', request.responseText);
                    }
                }
                var visitorInfoContainer = document.getElementById('visitor-info-container');
                var visitorInfo = document.getElementById('visitor-info');
                visitorInfoContainer.addEventListener('click', (e) => {
                    if (e.currentTarget == e.target) {
                        visitorInfo.textContent = '';
                        visitorInfoContainer.classList.toggle('show');;
                    }
                });
            </script>
            }
