<!DOCTYPE html>
@using Trane.Localization
@{
    ILocalization localization = Context.RequestServices.GetService(typeof(ILocalization)) as ILocalization;
    string incorrectLoginPassword = ViewData["incorrectLoginPassword"] as string;
}
<html>
<head>
    <title>@localization?.AdminPanelTitle</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="~/styles/admin_panel/login_form.css" />
</head>
<body>
    <div class="login_form">
        <form method="post">
            @if (!string.IsNullOrEmpty(incorrectLoginPassword))
            {
                <div class="login_form_block">
                    <p class="error_msg">@incorrectLoginPassword<p>
                </div>
            }
            <div class="login_form_block">
                <label class="login_form_label">@localization?.UserNameLabel</label>
                <input class="login_form_field" type="text" name="Login">
            </div>
            <div class="login_form_block">
                <label class="login_form_label">@localization?.PasswordLabel</label>
                <input class="login_form_field" type="password" name="Password">
            </div>
            <div class="login_form_block">
                <input class="login_form_button" type="submit" value="@localization?.LoginButtonText">
            </div>
        </form>
    </div>
</body>
</html>