<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["title"]</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/nu_xz_gde_etot_manager/manager/assets/ext3/resources/css/ext-all-notheme-min.css" />
</head>
<body>

</body>
</html>