@model Page
<div class="footerBlock">
	<p>Информация, содержащаяся на данном сайте, имеет справочный характер и не является публичной офертой.</p>
	<p>InstrumentShop39.RU сайт-витрина магазина «Инструмент». Электроинструмент в Калининграде по самым низким ценам © YEAR(добавить год)</p>
</div>