@model Page
<div class="menuContainer">
	<div class="catalog" id="catalog">
		<div class="button"><div class="downTriangle"></div>Каталог товаров</div>
		<ul>
			<li><a href="/">ТОВАР 1</a></li>
			<li><a href="/">ТОВАР 2</a></li>
			<li>
				<a href="/">ТОВАРЫ<div class="rightTriangle"></div></a>
				<ul>
					<li><a href="/">ТОВАР 1</a></li>
					<li><a href="/">ТОВАР 2</a></li>
					<li><a href="/">ТОВАР 3</a></li>
					<li><a href="/">ТОВАР 4</a></li>
				</ul>
			</li>
			<li><a href="/">ТОВАР 3</a></li>
		</ul>
	</div>
	<div class="mainMenu">
		<a href="/">Главная страница</a>
		<a href="/">Контакты</a>
	</div>
	<div class="searchBlock">
		<input type="text" placeholder="Поиск товара">
		<input type="submit" value="">
	</div>
</div>