@model Page
<div class="noticeBlock">
	<p><span class="boldText">Наш адрес ул. Богдана Хмельницкого 17</span></p>
	<p><span>(угол Ленинского проспекта и ул. Богдана Хмельницкого)</span></p>
	<p><span class="boldText redColor">РАБОТАЕМ: понедельник - пятница c 11:00-17:00</span></p>
	<p><span class="boldText redColor">в субботу и воскресенье c 11:00-16:00</span></p>
	<p>тел. <a class="boldText" href="tel:89082905999">8 9082 905-999</a></p>
	<p><span class="boldText">Мы <span class="redColor">всегда</span> сделаем цену <span class="redColor">ниже</span>, чем у наших конкурентов</span></p>
	<p><span class="boldText">Всем покупателям <span class="redColor">скидки</span> и подарки</span></p>
</div>