@model Page
@{
	List<ProductPage> products = Context.Items["products"] as List<ProductPage>;
}
<div class="contentBlock">
@(Html.Raw(Model?.BreadcrumbsHtml)) → @(Html.Raw(Model?.PageName))
@(Html.Raw(Model?.Content))
 @if(products != null) { foreach(var p in products) {@Html.Raw(p?.PageName)} }

</div>