@model Page
<div class="header-full-width">
	<div class="header-container">
		<a class="logo-block" href="/" title="Магазин «Инструмент»"></a>
		<div class="header-container-left-block">
			<span>Адрес магазина:</span>
			<a href="https://goo.gl/maps/GjLKxqEtQGXHkN3fA">ул. Богдана Хмельницкого 17</a>
		</div>
		<div class="header-container-right-block">
			<span>Звонить с 11:00 до 17:00</span>
			<a href="tel:89082905999">тел. 8 9082 905-999</a>
		</div>
	</div>
</div>
