@model Page
<div class="headerFullWidth">
	<div class="headerContainer">
		<a class="logoBlock" href="/"></a>
		<div class="headerContainer_leftBlock">
			<span>Адрес магазина:</span>
			<span>ул. Богдана Хмельницкого 17</span>
		</div>
		<div class="headerContainer_rightBlock">
			<span>Звонить с 10:00 до 18:00</span>
			<a href="tel:89082905999">тел. 8 9082 905-999</a>
		</div>
	</div>
</div>