@model Page
<div class="menu-container">
	<div id="catalog-button">
		<div id="button" class="button"><div id="down-triangle" class="down-triangle"></div>Каталог товаров</div>
		<ul>
			<li><a href="/apparaty_dlya_svarki_trub?orderby=ascending_price">Аппараты для сварки труб</a></li>
			<li><a href="/betonomeshalki?orderby=ascending_price">Бетономешалки</a></li>
			<li><a href="/generatory?orderby=ascending_price">Генераторы</a></li>
			<li><a href="/gravery?orderby=ascending_price">Граверы</a></li>
			<li><a href="/dreli?orderby=ascending_price">Дрели</a></li>
			<li>
				<a href="/izmeritelnyj_instrument">Измерительный инструмент<div class="right-triangle"></div></a>
				<ul>
					<li><a href="/izmeritelnyj_instrument/lazernye_dalnomery?orderby=ascending_price">Лазерные дальномеры</a></li>
					<li><a href="/izmeritelnyj_instrument/lazernye_urovni?orderby=ascending_price">Лазерные уровни</a></li>
				</ul>
			</li>			
			<li><a href="/kraskopulty?orderby=ascending_price">Краскопульты</a></li>
			<li><a href="/lobziki?orderby=ascending_price">Лобзики</a></li>
			<li><a href="/miksery?orderby=ascending_price">Миксеры</a></li>
			<li><a href="/mojki_vysokogo_davleniya?orderby=ascending_price">Мойки высокого давления</a></li>
			<li><a href="/nabory_ruchnyh_instrumentov?orderby=ascending_price">Наборы ручных инструментов</a></li>
			<li>
				<a href="/nasosnoe_oborudovanie">Насосное оборудование<div class="right-triangle"></div></a>
				<ul>
					<li><a href="/nasosnoe_oborudovanie/motopompy?orderby=ascending_price">Мотопомпы</a></li>
					<li><a href="/nasosnoe_oborudovanie/nasosnye_stancii?orderby=ascending_price">Насосные станции (гидрофоры)</a></li>
					<li><a href="/nasosnoe_oborudovanie/nasosy?orderby=ascending_price">Насосы</a></li>
				</ul>
			</li>
			<li><a href="/obogrevateli?orderby=ascending_price">Обогреватели</a></li>
			<li><a href="/otbojnye_molotki?orderby=ascending_price">Отбойные молотки</a></li>
			<li><a href="/perforatory?orderby=ascending_price">Перфораторы</a></li>
			<li>
				<a href="/pily">Пилы<div class="right-triangle"></div></a>
				<ul>
					<li><a href="/pily/diskovye_pily?orderby=ascending_price">Дисковые (циркулярные) пилы</a></li>
					<li><a href="/stanki/lentochnye_pily?orderby=ascending_price">Ленточные пилы</a></li>
					<li><a href="/pily/montazhnye_pily?orderby=ascending_price">Монтажные (отрезные) пилы</a></li>
					<li><a href="/stanki/plitkorezy?orderby=ascending_price">Плиткорезы</a></li>
					<li><a href="/stanki/raspilovochnye_stanki?orderby=ascending_price">Распиловочные станки</a></li>
					<li><a href="/pily/sabelnye_pily?orderby=ascending_price">Сабельные пилы</a></li>
					<li><a href="/pily/torcovochnye_pily?orderby=ascending_price">Торцовочные пилы</a></li>
					<li><a href="/sadovaya_tehnika/cepnye_pily?orderby=ascending_price">Цепные пилы</a></li>
				</ul>
			</li>
			<li><a href="/pnevmoinstrument?orderby=ascending_price">Пневмоинструмент</a></li>
			<li><a href="/renovatory?orderby=ascending_price">Реноваторы</a></li>
			<li><a href="/rubanki?orderby=ascending_price">Рубанки</a></li>
			<li>
				<a href="/sadovaya_tehnika">Садовая техника<div class="right-triangle"></div></a>
				<ul>
					<li><a href="/sadovaya_tehnika/vozduhoduvki?orderby=ascending_price">Воздуходувки</a></li>
					<li><a href="/sadovaya_tehnika/gazonokosilki?orderby=ascending_price">Газонокосилки</a></li>
					<li><a href="/sadovaya_tehnika/kustorezy?orderby=ascending_price">Кусторезы</a></li>
					<li><a href="/sadovaya_tehnika/motobloki_i_kultivatory?orderby=ascending_price">Мотоблоки и культиваторы</a></li>
					<li><a href="/sadovaya_tehnika/motobury?orderby=ascending_price">Мотобуры</a></li>
					<li><a href="/sadovaya_tehnika/trimmery?orderby=ascending_price">Триммеры</a></li>
					<li><a href="/sadovaya_tehnika/cepnye_pily?orderby=ascending_price">Цепные пилы</a></li>
				</ul>
			</li>
			<li><a href="/svarochnoe_oborudovanie?orderby=ascending_price">Сварочное оборудование</a></li>
			<li>
				<a href="/stanki">Станки<div class="right-triangle"></div></a>
				<ul>
					<li><a href="/stanki/lentochnye_pily?orderby=ascending_price">Ленточные пилы</a></li>
					<li><a href="/pily/montazhnye_pily?orderby=ascending_price">Монтажные (отрезные) пилы</a></li>
					<li><a href="/stanki/plitkorezy?orderby=ascending_price">Плиткорезы</a></li>
					<li><a href="/stanki/raspilovochnye_stanki?orderby=ascending_price">Распиловочные станки</a></li>
					<li><a href="/stanki/rejsmusovye_fugovalnye_stanki?orderby=ascending_price">Рейсмусовые и фуговальные станки</a></li>
					<li><a href="/stanki/sverlilnye_stanki?orderby=ascending_price">Сверлильные станки</a></li>
					<li><a href="/stanki/tokarnye_stanki_po_derevu?orderby=ascending_price">Токарные станки по дереву</a></li>
					<li><a href="/pily/torcovochnye_pily?orderby=ascending_price">Торцовочные пилы</a></li>
					<li><a href="/stanki/tochilnyj_stanok?orderby=ascending_price">Точильные станки</a></li>
				</ul>
			</li>
			<li><a href="/stabilizatory_napryazheniya?orderby=ascending_price">Стабилизаторы напряжения</a></li>
			<li><a href="/steplery?orderby=ascending_price">Степлеры</a></li>
			<li><a href="/stroitelnye_pylesosy?orderby=ascending_price">Строительные пылесосы</a></li>
			<li><a href="/feny_tehnicheskie?orderby=ascending_price">Фены технические</a></li>
			<li><a href="/frezery?orderby=ascending_price">Фрезеры</a></li>
			<li>
				<a href="/shlifmashiny">Шлифовальные машины<div class="right-triangle"></div></a>
				<ul>
					<li><a href="/shlifmashiny/bolgarki?orderby=ascending_price">Болгарки</a></li>
					<li><a href="/shlifmashiny/vibracionnye_shlifmashiny?orderby=ascending_price">Вибрационные шлифмашины</a></li>
					<li><a href="/shlifmashiny/lentochnye_shlifmashiny?orderby=ascending_price">Ленточные шлифмашины</a></li>
					<li><a href="/shlifmashiny/polirovalnye_shlifmashiny?orderby=ascending_price">Полировальные шлифмашины</a></li>
					<li><a href="/shlifmashiny/pryamye_shlifmashiny?orderby=ascending_price">Прямые шлифмашины</a></li>
					<li><a href="/shlifmashiny/teleskopicheskie_shlifmashiny?orderby=ascending_price">Телескопические шлифмашины</a></li>
					<li><a href="/shlifmashiny/ehkscentrikovye_shlifmashiny?orderby=ascending_price">Эксцентриковые шлифмашины</a></li>
				</ul>
			</li>
			<li><a href="/shtroborezy?orderby=ascending_price">Штроборезы</a></li>
			<li><a href="/shurupoverty?orderby=ascending_price">Шуруповерты и гайковерты</a></li>
		</ul>
	</div>
	<div class="main-menu">
		<a href="/">Главная страница</a>
        	<a href="/contacts">Контакты</a>
	</div>
	<form action="/search" class="search-block">
		<input type="text" id="search" name="search" placeholder="Поиск товара">
		<input type="submit" value="">
	</form>
</div>
