@model Page
<div class="menu-container">
	<div id="catalog-block">
                <div class="button">Каталог товаров</div>
        </div>
	<div class="main-menu">
		<a href="/">Главная страница</a>
		<a href="/contacts">Контакты</a>
	</div>
	<div class="search-block">
		<input type="text" placeholder="Поиск товара">
		<input type="submit" value="">
	</div>
</div>