@model Page
<div class="notice-block">
	<p><span><b>Наш адрес ул. Богдана Хмельницкого 17</b></span></p>
	<p><span>(угол Ленинского проспекта и ул. Богдана Хмельницкого)</span></p>
	<p><span class="red-color"><b>РАБОТАЕМ: понедельник - пятница c 11:00-17:00</b></span></p>
	<p><span class="red-color"><b>в субботу и воскресенье c 11:00-16:00</b></span></p>
	<p>тел. <a href="tel:89082905999"><b>8 9082 905-999</b></a></p>
	<p><span><b>Мы <span class="red-color">всегда</span> сделаем цену <span class="red-color">ниже</span>, чем у наших конкурентов</b></span></p>
	<p><span><b>Всем покупателям <span class="red-color">скидки</span> и подарки</b></span></p>
</div>
