@model Page
<div class="content-block">
	<div class="container">
		<div class="left-block-image"><div class="travolta-img"><div class="hole-img"></div></div></div>
		<div class="right-block-info">
			<p>Страница не найдена</p>
			<p>Возможно это случилось по одной из этих причин:</p>
			<ul>
          			<li>Вы ввели неправильный URL в адресную строку</li>
          			<li>Такая страница отсутствует, или удалена</li>
          			<li>Эта страница временно недоступна</li>
          			<li>Ошибка сервера</li>
			</ul>
		</div>
	</div>
</div>
