@model CategoryPage[]
@inject IProductsLocalization localization
@{
    Layout = "CommonPage";
    Context.Items["PageStyle"] = "/styles/admin_panel/products/categories.css";
    User user = Context.Items["User"] as User;
}
<table>
                <tr>
                    <td>@Html.Raw(localization.Name)</td>
                </tr>
                @foreach (var category in Model)
                {
                <tr>
                    <td>
                @if (SecurityFunctions.HasAccessTo(AdminPanelPages.CategoryProducts, user, Context))
                {
                        <a href="@Context.Request.Path?pageID=@((int)AdminPanelPages.CategoryProducts)&itemID=@category.ID">@Html.Raw(category.PageName)<b> (ID@(category.ID))</b></a>
                }
                else
                {
                        <span>@Html.Raw(category.PageName)<b> (ID@(category.ID))</b></span>
                }
                    </td>
                </tr>
                }
             </table>