@model TemplateModel
@inject ITemplatesLocalization localization
@{
    Layout = "CommonPage";
    Context.Items["PageStyle"] = "/styles/admin_panel/templates/add_template.css";
    bool incorrect = Context.Items["IsIncorrect"] == null ? false : (bool)Context.Items["IsIncorrect"];
}
<form method="post" class="addTemplateContainer">
    @if (incorrect)
    {
        <span>@Html.Raw(localization.IncorrectInput)</span>
    }
    <div class="nameBlock">
        <label for="Name">@Html.Raw(localization.Name)</label>
        <input type="text" id="Name" name="TemplateModel.Name" value="@Model?.Name" required />
    </div>
    <label for="TemplateSource">@Html.Raw(localization.TemplateCode)</label>
    <textarea id="TemplateSource" name="TemplateModel.TemplateSource">@Model?.TemplateSource</textarea>
    <input type="submit" value="@Html.Raw(localization.SaveButton)" />
</form>