div.workWithPageContainer {
    display: flex;
    width: 100%;
    max-width: 100%;
}

div.leftBlock {
    width: 55%;
    margin-right: 5%;
}

div.rightBlock {
    flex-grow: 1;
}

div.checkboxBlock {
    margin-top: .7vh;
}

.checkboxBlock label {
    display: inline;
    font-size: 1.2rem;
}

input[type="submit"] {
    display: block;
    border: none;
    font-family: "Century Gothic", 'Times New Roman', Arial, sans-serif;
    font-size: 1.4rem;
    padding: .8vh;
    border-radius: 5px;
    background-color: #00c0ff;
    margin: 1vh 0 0 auto;
}

    input[type="submit"]:hover {
        background: #00a8ff;
        cursor: pointer;
    }
