div.sortPanel{
	display: flex;
	width: 998px;
	margin: 5px auto 0;
	background: linear-gradient(to bottom, #f9eb73, #f8c65b);
	box-shadow: 0px 0px 3px 0 #6d6d6d;
	border-radius: 3px 3px 0 0;
}

div.sortPanel > span{
	display: block;
	padding: 5px 10px;
}

b.sortMenu > a:hover{
	color: #000;
}

div.contentBlock{
	border-radius: 0 0 3px 3px;
	margin-top: 0px;
}

div.navigationMenu{
	margin-bottom: 10px;
}

a.product{
	display: flex;
	position: relative;
	margin-top: 5px;
	border: 1px solid #ccc;
	border-radius: 4px;
	height: 115px;
}

a.product:hover{
	color: #000;
	border-color: #f7951f;
	box-shadow: 0 2px 4px rgba(0,0,0,.1);
}

a.product > img{
	width: 150px;
}

a.product > div.productInfo{
	display: flex;
	flex-direction: column;
	width: 650px;
	margin: 0 10px;
}

a.product > div.productInfo > span.productName{
	display: block;
	box-sizing: border-box;
	font-weight: bold;
	font-size: 20px;
	height: 53px;
	max-height: 53px;
	padding: 2px 0 0;
	overflow: hidden;
}

a.product > div.productInfo > div.shortDescription{
	display: flex;
	flex-grow: 1;
	align-items: center;
	margin-bottom: 5px;
	font-size: 16px;
}

a.product > div.productInfo > div.shortDescription > span{
	align-self: flex-end;
	max-height: 57px;
	overflow: hidden;
}

a.product > div.productInfo > div.shortDescription > span > p {
	margin: 0;
}

a.product > div.productPrice{
	flex-grow: 1;
	padding: 5px 10px;
	text-align: right;
}

a.product > div.productPrice > span:first-child{
	display: block;
        font-size: 28px;
        white-space: nowrap;
	overflow: hidden;
}

a.product > div.productPrice > span:first-child:after{
	content: " ₽";
	font-size: 18px;
	color: #7a7a7a;
}

a.product > div.productPrice > span:not(:first-child){
	display: inline-block;
        font-size: 28px;
        text-decoration: line-through;
        color: #c0c0c0;
        white-space: nowrap;
	overflow: hidden;
}

a.product > div.productPrice > span:not(:first-child):after{
	display: inline-block;	
	content: "₽";
        text-decoration: none;
        margin-left: 6px;
	font-size: 18px;
	color: #c0c0c0;
}

ul.pagination{
	display: flex;
	justify-content: center;
	list-style-type: none;
	padding: 0;
	margin: 10px 0 0 0;
	font-size: 17px;
}

ul.pagination > li:not(:first-child){
	margin-left: 1px;
}

ul.pagination > li > span{
	display: block;
	border: 1px solid #f7951f;
	background-color: #ececec;
	padding: 7px 9px 7px 9px;
}

ul.pagination > li > a{
	display: block;
	border: 1px solid #ccc;
	background-color: #f3f3f3;
	padding: 7px 9px 7px 9px;
}

ul.pagination > li > a:hover{
	border-color: #f7951f;
	background-color: #ececec;
	color: #000;
}

div.stock{
	position: absolute;
	width: 80px;
	height: 78px;
	background-image: url(/images/sale.png);
	margin-left: -1px;
	margin-top: -1px;
}

div.best{
	position: absolute;
	width: 163px;
	height: 47px;
	background-image: url(/images/best.png);
	right: -1px;
	bottom: 1px;
}