h1.contactsTitle{
	margin: 0 0 10px  0;
}

div.shopContainer{
	display: flex;
	width: 100%;
	font-size: 22px;
	align-items: center;
}

div.shopContainer:nth-child(n+3){
	margin-top: 50px;
}

div.shopContainer > span.shopNum{
	display: block;
	margin-right: 15px;

}

div.shopContainer > span.shopInfo{
	display: block;
	flex-frow: 1;
}

span.redText{
	color: #ff0000;
}

div.shopContainer > span.shopInfo > p{
	margin: 0;
}

div.map_imgBlock{
	position: relative;
	width: 100%;
	margin-top: 10px;
	padding-top: 120px;
}

div.map_imgBlock > div.map{
	width: 600px;
	height: 450px;
	border: 5px solid;
	border-radius: 5px;
	z-index: 1;
}

div.map_imgBlock > img{
	position: absolute;
	border: 5px solid;
	border-radius: 5px;
	top: 0;
	right: 0;
	z-index: 2;
}