div.header-full-width{
	min-width: 1000px;
	background: linear-gradient(to bottom, #4b4b4b, #1d1d1d);
}

div.header-full-width> div.header-container{
	display: flex;
	justify-content: center;
	width: 1000px;
	margin: 0 auto;
	padding: 10px 0;
	font-size: 20px;
}

div.header-container > a.logo-block{
	display: block;
	background-image: url(/images/logo.png);
	width: 410px;
	height: 92px;
	align-self: center;
	margin-right: 5px;
}

div.header-container > div.header-container-left-block{
	flex-grow: 1;
}

div.header-container-left-block > span{
	display: block;
	text-align: center;
	font-weight: bold;
	color: #fff;
	margin-bottom: 3px;
}

	div.header-container-left-block > span:first-child{
		font-weight: normal;
		color: #deff00;
	}

	div.header-container-left-block > span:last-child{
		margin-bottom: 0;
	}

div.header-container > div.header-container-right-block{
	margin-left: 5px;
}

div.header-container-right-block > span{
	display: block;
	font-weight: normal;
	color: #deff00;
	margin-bottom: 3px;
}

div.header-container-right-block > a{
	display: block;
	text-decoration: none;
	font-weight: bold;
	text-align: center;
	color: #fff;
	margin-bottom: 3px;
}

	div.header-container-right-block > a:last-child{
		margin-bottom: 0;
	}

	div.header-container-right-block > a:hover{
		color: #ffd200;
	}