div.category-block-container{
	display: flex;
	width: 100%;
	flex-wrap: wrap;
}

div.category-block-container > a.category-block{
	display: block;
	box-sizing: border-box;
	overflow: hidden;
	position: relative;
	width: calc(20% - 5px);
	padding-bottom: calc(20% - 7px);
	border: 1px solid #ccc;
	border-radius: 4px;
	margin-left: 6px;
}

	div.category-block-container > a.category-block:hover{
		border-color: #f7951f;
		box-shadow: 0 2px 4px rgba(0,0,0,.1);
	}

	div.category-block-container > a.category-block:nth-child(5n+1){
		margin-left: 0;
	}

	div.category-block-container > a.category-block:nth-child(n+6){
		margin-top: 6px;
	}

div.category-block-container > a.category-block > div.category-block-content{
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

div.category-block-container > a.category-block > div.category-block-content > span.category-name{
	display: block;
	box-sizing: border-box;
	height: 22%;
	overflow: hidden;
	padding-top: 3px;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
}

	div.category-block-container > a.category-block:hover > div.category-block-content > span.category-name{
		color: #000;
	}

div.category-block-container > a.category-block > div.category-block-content > div.category-image{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-grow: 1;
	padding: 10px;
	overflow: hidden;
}

div.category-block-container > a.category-block > div.category-block-content > div.category-image > img{
	max-width: 100%;
	max-height: 100%;
}