div.categoryBlocksContainer{
	display: flex;
	width: 100%;
	flex-wrap: wrap;
}

div.categoryBlocksContainer > a.categoryBlock{
	display: block;
	box-sizing: border-box;
	overflow: hidden;
	position: relative;
	width: calc(20% - 5px);
	padding-bottom: calc(20% - 7px);
	border: 1px solid #ccc;
	border-radius: 4px;
	margin-left: 6px;
}

div.categoryBlocksContainer > a.categoryBlock:hover{
	border-color: #f7951f;
	box-shadow: 0 2px 4px rgba(0,0,0,.1);
}

div.categoryBlocksContainer > a.categoryBlock > div.categoryBlockContent{
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

div.categoryBlocksContainer > a.categoryBlock:nth-child(5n+1){
	margin-left: 0;
}

div.categoryBlocksContainer > a.categoryBlock:nth-child(n+6){
	margin-top: 6px;
}

div.categoryBlocksContainer > a.categoryBlock > div.categoryBlockContent > span.categoryName{
	display: block;
	box-sizing: border-box;
	height: 22%;
	overflow: hidden;
	padding-top: 3px;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
}

div.categoryBlocksContainer > a.categoryBlock:hover > div.categoryBlockContent > span.categoryName{
	color: #000;
}

div.categoryBlocksContainer > a.categoryBlock > div.categoryBlockContent > div.categoryImage{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-grow: 1;
	padding: 10px;
	overflow: hidden;
}

div.categoryBlocksContainer > a.categoryBlock > div.categoryBlockContent > div.categoryImage > img{
	max-width: 100%;
	max-height: 100%;
}