div.menu-container{
	display: flex;
	justify-content: space-between;
	width: 1000px;
	margin: 0 auto;
        color: #1d1d1d;
}

div.menu-container > #catalog-block{
        box-sizing: border-box;
	width: 240px;
        margin-right: 5px;
        border: 1px solid #1d1d1d;
        border-top: 0px;
	border-radius: 0 0 3px 3px;
}

div.menu-container > #catalog-block > div.button{
	background: linear-gradient(to bottom, #f9eb73, #f7941d);
	cursor: pointer;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	padding: 8px 0;
}

div.menu-container > div.main-menu{
	display: flex;
	box-sizing: border-box;
	flex: 1;
	background: linear-gradient(to bottom, #f9eb73, #f7941d);
	border: 1px solid #1d1d1d;
	border-top: 0px;
	border-radius: 0 0 3px 3px;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
}

div.menu-container > div.main-menu > a{
	display: block;
	text-decoration: none;
	padding: 8px 10px;
}

div.menu-container > div.main-menu > a:hover{
	background-color: #1d1d1d;
	color: #f8c34c;
}

div.menu-container > div.search-block{
	display: flex;
	box-sizing: border-box;
	width: 240px;
	background: linear-gradient(to bottom, #f9eb73, #f7941d);
	border: 1px solid #1d1d1d;
	border-top: 0px;
	border-radius: 0 0 3px 3px;
	margin-left: 5px;
	padding: 6px;
}

div.menu-container > div.search-block > input[type=text]{
	box-sizing: border-box;
	outline: none;
	width: 195px;
	background-color: #efefef;
	border: 0;
	border-radius: 3px 0 0 3px;
	box-shadow: inset 1px 2px 4px 0 #6d6d6d;
	font-family: Tahoma, Arial, 'Times New Roman', sans-serif;
	font-size: 15px;
	padding: 2px 0 0 6px;
}

div.menu-container > div.search-block > input[type=submit]{
	cursor: pointer;
	outline: none;
	flex-grow: 1;
	background-color: #d1d1d1;
	background-image: url(https://lh4.googleusercontent.com/-b-5aBxcxarY/UAfFW9lVyjI/AAAAAAAABUg/gQtEXuPuIds/s13/go.png);
	background-position: center center;
	background-repeat: no-repeat;
	border: 0;
	border-radius: 0 3px 3px 0;
	box-shadow: inset -1px 2px 4px 0 #6d6d6d;
}

div.menu-container > div.search-block > input[type=submit]:hover{
	background-color: #b4b4b4;
}