div.menu-container{
	display: flex;
	justify-content: space-between;
	width: 1000px;
	margin: 0 auto;
}

/* Кнопка "Каталог" */

div.menu-container > #catalog-button{
	cursor: pointer;
	background: linear-gradient(to bottom, #f9eb73, #f7941d);
	box-sizing: border-box;
	width: 240px;
	margin-right: 5px;
	border: 1px solid #a6a6a6;
	border-top: 0px;
	border-radius: 0 0 3px 3px;
}

	div.menu-container > #catalog-button.clicked{
		border-color: #1d1d1d;
		border-radius: 0;
		transition-property: border-color;
		transition-timing-function: ease;
		transition-duration: 350ms;
	}

div.menu-container > #catalog-button > div.button{
	
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	padding: 8px 0;
	color: #1d1d1d;
}

	div.menu-container > #catalog-button.clicked > div.button{
		background-color: #1d1d1d;
		color: #f8c34c;
		transition-property: background-color, color;
		transition-timing-function: ease;
		transition-duration: 350ms;
	}

div.menu-container > #catalog-button > div.button > div.down-triangle{
	display: inline-block;
	content: " ";
	position: relative;
	top: 6px;
	margin-right: 5px;
	border: 8px solid transparent;	
	border-top: 9px solid #1d1d1d;
}
	div.menu-container > #catalog-button.clicked > div.button > div.down-triangle{
		border-top-color: #fff;
		transition-property: border-top-color;
		transition-timing-function: ease;
		transition-duration: 350ms;
	}

/* ------------- */

/* Выпадающее меню */

div.menu-container > #catalog-button > ul{
	visibility: hidden;
	opacity: 0;
	position: absolute;
	list-style-type: none;
	min-width: 240px;
	max-width: 500px;
	margin: 1px 0 0 -1px;
	padding: 0;
	z-index: 3;
}

	div.menu-container > #catalog-button.clicked > ul{
		visibility: visible;
		opacity: 1;
		transition-property: opacity;
		transition-timing-function: ease;
		transition-duration: 350ms;
	}

div.menu-container > #catalog-button > ul > li{
	box-sizing: border-box;
	position: relative;
	border-bottom: 1px solid;
}

	div.menu-container > #catalog-button > ul > li:last-child{
		border-bottom: 0;
	}

div.menu-container> #catalog-button > ul > li > a{
	display: block;
	text-decoration: none;
	color: #1d1d1d;
	font-size: 16px;
	padding: 8px 30px 8px 7px;
	font-weight: bold;
	background-color: #f8bc45;
}

	div.menu-container> #catalog-button > ul > li:hover > a{
		color: #f8bc45;
		background-color: #1d1d1d;
	}

div.menu-container> #catalog-button > ul > li > a > div.right-triangle{
	display: inline-block;
	content: " ";
	position: absolute;
	top: 50%;
	margin-top: -8px;
	right: 0;
	border: 8px solid transparent;	
	border-left: 10px solid #1d1d1d;
}

div.menu-container> #catalog-button > ul > li:hover > a > div.right-triangle{
	border-left-color: #fff;
	transition-property: border-left-color;
	transition-timing-function: ease;
	transition-duration: 350ms;
}

/* ------------- */

/* Выпадающее сабменю */

div.menu-container > #catalog-button.clicked > ul > li > ul{
	display: table;
	visibility: hidden;
	opacity: 0;
	max-width: 500px;
	list-style-type: none;
	position: absolute;
	padding: 0;
	top: -1px;
	margin-left: 2px;
	left: 100%;
}

	div.menu-container > #catalog-button.clicked > ul > li:hover > ul{
		visibility: visible;
		opacity: 1;
		transition-property: opacity;
		transition-timing-function: ease;
		transition-duration: 350ms;
	}

div.menu-container > #catalog-button.clicked > ul > li > ul > li{
	display: block;
	box-sizing: border-box;
	border-bottom: 1px solid;
}

	div.menu-container > #catalog-button.clicked > ul > li > ul > li:first-child{
		margin-left: -2px;
		border-left: 2px solid #1d1d1d;
		border-top: 1px solid;
	}

	div.menu-container > #catalog-button.clicked > ul > li > ul > li:last-child{
		border-bottom: 0;
	}

div.menu-container > #catalog-button.clicked > ul > li > ul > li > a{
	display: block;
	text-decoration: none;
	color: #1d1d1d;
	font-size: 16px;
	padding: 8px 7px;
	font-weight: bold;
	background-color: #f8bc45;
}

	div.menu-container > #catalog-button.clicked > ul > li > ul > li:hover > a{
		color: #f8bc45;
		background-color: #1d1d1d;
	}

/* ------------- */

div.menu-container > div.main-menu{
	display: flex;
	box-sizing: border-box;
	flex: 1;
	background: linear-gradient(to bottom, #f9eb73, #f7941d);
	border: 1px solid #a6a6a6;
	border-top: 0px;
	border-radius: 0 0 3px 3px;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
}

div.menu-container > div.main-menu > a{
	display: block;
	text-decoration: none;
	color: #1d1d1d;
	padding: 8px 10px;
}

	div.menu-container > div.main-menu > a:hover{
		background-color: #1d1d1d;
		color: #f8c34c;
	}

	div.menu-container > div.main-menu > a:first-child:hover{
		border: 1px solid #1d1d1d;
		padding: 7px 9px;
		border-radius: 0 0 0 2px;
	}

div.menu-container > form.search-block{
	display: flex;
	box-sizing: border-box;
	width: 240px;
	background: linear-gradient(to bottom, #f9eb73, #f7941d);
	border: 1px solid #a6a6a6;
	border-top: 0px;
	border-radius: 0 0 3px 3px;
	margin-left: 5px;
	padding: 6px;
}

div.menu-container > form.search-block > input[type=text]{
	box-sizing: border-box;
	outline: none;
	width: 195px;
	background-color: #efefef;
	border: 0;
	border-radius: 3px 0 0 3px;
	box-shadow: inset 1px 2px 4px 0 #6d6d6d;
	font-family: Tahoma, Arial, 'Times New Roman', sans-serif;
	font-size: 15px;
	padding: 2px 0 0 6px;
}

div.menu-container > form.search-block > input[type=submit]{
	cursor: pointer;
	outline: none;
	flex-grow: 1;
	background-color: #d1d1d1;
	background-image: url(https://lh4.googleusercontent.com/-b-5aBxcxarY/UAfFW9lVyjI/AAAAAAAABUg/gQtEXuPuIds/s13/go.png);
	background-position: center center;
	background-repeat: no-repeat;
	border: 0;
	border-radius: 0 3px 3px 0;
	box-shadow: inset -1px 2px 4px 0 #6d6d6d;
}

	div.menu-container > form.search-block > input[type=submit]:hover{
		background-color: #b4b4b4;
	}