div.notice-block{
	box-sizing: border-box;
	width: 998px;
	margin: 6px auto 7px;
	padding: 10px;
	background-color: #fff;
	border-radius: 3px;
	box-shadow: 0px 0px 3px 0 #6d6d6d;
	text-align: center;
	font-size: 25px;
}

div.notice-block > p{
	margin: 0;
}

.red-color{
	color: #FF0000;
}