div.contentBlock{
	box-sizing: border-box;
	width: 998px;
	margin: 5px auto 0;
	padding: 10px;
	background-color: #fff;
	border-radius: 3px;
	box-shadow: 0px 0px 3px 0 #6d6d6d;
}

div.slider{
	width: 500px;
}