@model Page
<!DOCTYPE html>
<html lang="ru">
<head>
<title>Ошибка 404 - магазин «Инструмент»</title> 
<link rel="stylesheet" href="/styles/common.css">
<link rel="stylesheet" href="/styles/header.css">
<link rel="stylesheet" href="/styles/menu.css">
<link rel="stylesheet" href="/styles/content.css">
<link rel="stylesheet" href="/styles/page_not_found.css">
<link rel="stylesheet" href="/styles/footer.css">
<link rel="icon" href="/favicon.ico">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="description" content="@(Model != null ? Html.Raw(Model.PageDescription) : Html.Raw(string.Empty))">
<meta name="keywords" content="@(Model != null ? Html.Raw(Model.PageKeywords) : Html.Raw(string.Empty))">
<meta name="robots" content="[Page:IsRobotIndex]">
</head>
<body>
@{ try { @await Html.PartialAsync("~/Views/Chunks/header.cshtml", Model) } catch { } }
@{ try { @await Html.PartialAsync("~/Views/Chunks/menu.cshtml", Model) } catch { } }
@{ try { @await Html.PartialAsync("~/Views/Chunks/page_not_found_content.cshtml", Model) } catch { } }
@{ try { @await Html.PartialAsync("~/Views/Chunks/footer.cshtml", Model) } catch { } }
@{ try { @await Html.PartialAsync("~/Views/Chunks/scripts.cshtml", Model) } catch { } }
</body>
</html>
